@import 'variables/variables';




* {
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Philosopher', sans-serif;
    margin: 0;
    padding: 0;
}

.up {
    height: 2500px;
}

.pageup {
	opacity: 0;
	position: fixed;
	bottom: 40px;
	right: 5%;
	border: 2px solid $main-color;
	color: $main-color;
	height: max-content;
	min-height: 55px;
	width: 55px;
	border-radius: 50%;
	z-index: 33;
	background: hsla(0, 0%, 100%, .6);
	padding: 0;
	transition: 1s all;
}
.pageup svg {
	fill: $main-color;
	transition: .3s;
	transform: scale(1.5);
	margin-left: 20px;
	margin-top: calc(50% - 7px);
}
